h3 {
    font-family: 'Josefin', Georgia, 'Times New Roman', Times, serif;
    font-size: 4.0rem;
    font-weight: 600;
    text-align: center;
    margin-block-start: .50px;
    margin-block-end: .50px
  }
    /* Video */
    .video {

        width: 560px;
        height: 315px;
        max-width: auto;
      }
      .video-container {
        display: flex;
        justify-content: center;
        background-color: #08a8b6; 
        height: auto;
      }
  