h3 {
    font-family: 'Josefin', Georgia, 'Times New Roman', Times, serif;
    font-size: 4.0rem;
    font-weight: 600;
    text-align: center;
    margin-block-start: .50px;
    margin-block-end: .50px
  }
    /* Video */
.video-container{
  background-color: #08a8b6; 
  height: auto;
}
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #08A8B6; 
  height: auto;
  text-align: center;
  align-items: center;
}

.movies-list{
  list-style-type: "\1f3a5";
  list-style-position: inside;
}


/* Tablet and Mobile */
@media  screen and (max-width: 1200px) {
  .video-title {
    padding-top: 0px;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  iframe{
    width: auto;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .video-title {
    padding-top: 75px;
  }
  .video-container {
    display: grid;
    grid-template-columns: 500px 1fr;
  }
  iframe {
    width: 560px;
  }
}